In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

# q1.Scrape the details of most viewed videos on YouTube from Wikipedia:

In [2]:
#open instance of browser
driver=webdriver.Chrome(r'chromedriver.exe')
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
#navigate to required url
driver.get(url)
rank=[]
title=[]
artist=[]
view=[]
date=[]
time.sleep(3)
#scrape data from each match tab
nums=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
titles=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
artists=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
views=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
dates=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
#itenrate over teh elements to get the required data
for i in [nums,titles,artists,views,dates]:
    for j in i:
        if i == nums:
            rank.append(j.text)
        if i == titles:
            title.append(j.text)
        if i== artists:
            artist.append(j.text)
        if i == views:
            view.append(j.text)
        if i == dates:
            date.append(j.text)
#create data frame of the scraped data
youtube=pd.DataFrame({})
youtube['rank']=rank
youtube['title']=title
youtube['artist']=artist
youtube['views in billons']=view
youtube['date']=date
youtube

,rank,title,artist,views in billons,date
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.91,"June 17, 2016"
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.20,"January 12, 2017"
2,3.,"""Shape of You""[31]",Ed Sheeran,5.18,"January 30, 2017"
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.96,"April 6, 2015"
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,4.77,"October 8, 2016"
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.41,"January 31, 2012"
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.09,"November 19, 2014"
7,8.,"""Gangnam Style""[38]",Psy,3.97,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.69,"February 27, 2018"
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,3.64,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,3.53,"March 6, 2014"
11,12.,"""Sorry""[43]",Justin Bieber,3.40,"October 22, 2015"
12,13.,"""Sugar""[44]",Maroon 5,3.39,"January 14, 2015"
13,14.,"""Roar""[45]",Katy Perry,3.27,"September 5, 2013"
14,15.,"""Counting Stars""[46]",OneRepublic,3.19,"May 31, 2013"
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,3.18,"October 7, 2014"
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,3.11,"April 5, 2018"
17,18.,"""Shake It Off""[49]",Taylor Swift,3.02,"August 18, 2014"
18,19.,"""Faded""[50]",Alan Walker,2.98,"December 3, 2015"
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015"
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014"
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.97,"February 20, 2014"
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.96,"May 31, 2018"
23,24.,"""Let Her Go""[55]",Passenger,2.91,"July 25, 2012"
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.86,"June 29, 2017"
25,26.,"""Hello""[57]",Adele,2.79,"October 22, 2015"
26,27.,"""Perfect""[58]",Ed Sheeran,2.74,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,2.74,"June 4, 2010"
28,29.,"""Blank Space""[60]",Taylor Swift,2.72,"November 10, 2014"
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.62,"November 18, 2016"

# q2.Scrape the details team India’s international fixtures from bcci.tv

In [3]:
#open instance of teh browser
driver=webdriver.Chrome(r'chromedriver.exe')
url='https://www.bcci.tv/'

#get the required url
driver.get(url)

#procedure to click on the fixtures and navigate to internantional fixtures page
driver.find_element_by_xpath('//nav[@class="navigation__menu js-navigation-menu"]/ul/li[1]').click()
time.sleep(2)
driver.find_element_by_xpath('//nav[@class="navigation__menu js-navigation-menu"]/ul/li[1]/div/div/ul/li[1]').click()
time.sleep(3)
title=[]
tournament=[]
place=[]
time1=[]
date=[]

#scrape the required tabs
titles=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
tournaments=driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]')
places=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
dates=driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
months=driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
times=driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')

#iterate over each list to get the text
for i in tournaments:
    tournament.append(i.text)
for i in titles:
    title.append(i.text)
for i in places:
    place.append(i.text)
for i in times:
    time1.append(i.text)
for i in range(len(dates)):
    date.append(dates[i].text+months[i].text)

#create dataframe
icc=pd.DataFrame({})
icc['title']=title
icc['tournament']=tournament
icc['place']=place
icc['time']=time1
icc['date']=date
icc

,title,tournament,place,time,date
0,2nd Test,TEST\nINDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",09:30 IST,13FEBRUARY
1,3rd Test,TEST\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",14:30 IST,24FEBRUARY
2,4th Test,TEST\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",09:30 IST,04MARCH
3,1st T20I,T20I\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,12MARCH
4,2nd T20I,T20I\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,14MARCH
5,3rd T20I,T20I\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,16MARCH
6,4th T20I,T20I\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,18MARCH
7,5th T20I,T20I\nINDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,20MARCH
8,1st ODI,ODI\nINDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,23MARCH
9,2nd ODI,ODI\nINDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,26MARCH
10,3rd ODI,ODI\nINDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,28MARCH
11,1st Test,TEST\nENGLAND V INDIA 2021,"Trent Bridge, Nottingham",15:30 IST,04AUGUST
12,2nd Test,TEST\nENGLAND V INDIA 2021,"Lord's, London",15:30 IST,12AUGUST
13,3rd Test,TEST\nENGLAND V INDIA 2021,"Headingley, Leeds",15:30 IST,25AUGUST
14,4th Test,TEST\nENGLAND V INDIA 2021,"The Oval, London",15:30 IST,02SEPTEMBER
15,5th Test,TEST\nENGLAND V INDIA 2021,"Old Trafford, Manchester",15:30 IST,10SEPTEMBER

# q3.Scrape the details of selenium exception from guru99.com.

In [4]:
#open new instance of teh browser
driver=webdriver.Chrome(r'chromedriver.exe')
url='https://www.guru99.com/'

#navigate to required url
driver.get(url)

#navigate to selenium page
driver.find_element_by_xpath('//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]').click()
time.sleep(3)

#navigate to exceptions page
driver.find_element_by_xpath('//div[@class="item-page"]/div[2]/table[5]/tbody/tr[34]/td[1]').click()

#scrape teh required data from the table
column1=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
column2=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
exception_name=[]
description=[]

#get test by iterating over tags list
for i in column1[1:]:
    exception_name.append(i.text)
for i in column2[1:]:
    description.append(i.text)
    
#create dataframe of teh scraped data
exceptions=pd.DataFrame({})
exceptions['Exception Name']=exception_name
exceptions['Description']=description
exceptions

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# q4.Scrape the details of State-wise GDP of India from statisticstime.com.

In [5]:
#create new instance of teh browser
driver=webdriver.Chrome(r'chromedriver.exe')
url='http://statisticstimes.com/'

#navigate to required url
driver.get(url)
driver.maximize_window()

#click on teh dropdown menu and navigate to the statewise gdp page
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]').click()
time.sleep(1)
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]').click()
time.sleep(2)
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(2)
rank=[]
state=[]
gdsp_1920=[]
gdsp_1819=[]
share=[]
gdp=[]

#scrape the required table
ranks=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[1]')
states=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[2]')
gdsp_1920s=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[3]')
gdsp_1819s=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[4]')
shares=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[5]')
gdps=driver.find_elements_by_xpath('//div[@id="main"]/div[5]/div/div/table/tbody/tr/td[6]')
tags=[ranks,states,gdsp_1920s,gdsp_1819s,shares,gdps]

#iterate on each tags list to get data 
for i in tags:
    for j in i:
        if i==tags[0]:
            rank.append(j.text)
        if i==tags[1]:
            state.append(j.text)
        if i==tags[2]:
            gdsp_1920.append(j.text)
        if i==tags[3]:
            gdsp_1819.append(j.text)
        if i==tags[4]:
            share.append(j.text)
        if i==tags[5]:
            gdp.append(j.text)

#create dataframe
economy=pd.DataFrame({})
economy['rank']=rank
economy['state']=state
economy['gdsp_1920']=gdsp_1920
economy['gdsp_1819']=gdsp_1819
economy['share']=share
economy['gdp']=gdp
economy

   rank                      state  gdsp_1920  gdsp_1819   share      gdp
0     1                Maharashtra          -  2,632,792  13.88%  398.145
1     2              Uttar Pradesh  1,794,508  1,668,229   8.79%  252.278
2     3                 Tamil Nadu  1,845,853  1,630,208   8.59%  246.529
3     4                  Karnataka  1,699,115  1,544,399   8.14%  233.552
4     5                    Gujarat          -  1,502,899   7.92%  227.276
5     6                West Bengal  1,253,832  1,089,898   5.75%  164.820
6     7                  Rajasthan  1,020,989    942,586   4.97%  142.543
7     8             Andhra Pradesh    972,782    862,957   4.55%  130.501
8     9                  Telangana    969,604    861,031   4.54%  130.210
9    10             Madhya Pradesh    906,672    809,592   4.27%  122.431
10   11                     Kerala          -    781,653   4.12%  118.206
11   12                      Delhi    856,112    774,870   4.08%  117.180
12   13                    Haryana    831,610    734,163   3.87%  111.024
13   14                      Bihar    611,804    530,363   2.80%   80.204
14   15                     Punjab    574,760    526,376   2.77%   79.601
15   16                     Odisha    531,374    492,229   2.59%   74.437
16   17                      Assam          -    315,881   1.67%   47.769
17   18               Chhattisgarh    329,180    304,063   1.60%   45.982
18   19                  Jharkhand    328,598    297,204   1.57%   44.945
19   20                Uttarakhand          -    245,895   1.30%   37.186
20   21            Jammu & Kashmir          -    155,956   0.82%   23.584
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.265
22   23                        Goa          -     73,170   0.39%   11.065
23   24                    Tripura     55,358     49,845   0.26%    7.538
24   25                 Chandigarh          -     42,114   0.22%    6.369
25   26                 Puducherry     40,802     36,656   0.19%    5.543
26   27                  Meghalaya     36,572     33,481   0.18%    5.063
27   28                     Sikkim     32,496     28,723   0.15%    4.344
28   29                    Manipur          -     27,869   0.15%    4.214
29   30                   Nagaland          -     27,283   0.14%    4.126
30   31          Arunachal Pradesh          -     24,603   0.13%    3.721
31   32                    Mizoram          -     19,520   0.10%    2.952
32   33  Andaman & Nicobar Islands          -          -       -        -

# q5.Scrape the details of trending repositories on Github.com

In [17]:
driver=webdriver.Chrome(r'chromedriver.exe')
url='https://github.com/'
driver.get(url)
driver.maximize_window()
time.sleep(3)
driver.find_element_by_xpath('//ul[@class="d-lg-flex list-style-none"]/li[4]').click()
driver.find_element_by_xpath('//ul[@class="d-lg-flex list-style-none"]/li[4]').click()
time.sleep(2)
rep_name=[]
description=[]
contributor=[]
languages=[]
urls=[]
driver.find_element_by_xpath('//ul[@class="d-lg-flex list-style-none"]/li[4]/details/div/ul[2]/li[3]').click()
time.sleep(3)
rep_names=driver.find_elements_by_xpath('//article[@class="Box-row"]/h1/a')
descriptions=driver.find_elements_by_xpath('//article[@class="Box-row"]/p')
for i in [rep_names,descriptions]:
    for j in i:
        if i ==rep_names:
            rep_name.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==descriptions:
            description.append(j.text)
    #rep_name.append(i.text)
#for i in rep_names:
    #urls.append(i.get_attribute('href'))
for url in urls:
    driver.get(url)
    time.sleep(4)
    div_list=driver.find_elements_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div')
    try:
        contributor.append(((div_list[-2].text).split())[1])
    except:
        contributor.append('-')
    try:
        languages.append(((div_list[-1].text).split())[1::2])
    except:
        languages.append('-')
github=pd.DataFrame({})
github['rep_name']=rep_name
github['description']=description
github['contributor']=contributor
github['languages']=languages
github.head()

,rep_name,description,contributor,languages
0,libsdl-org / SDL,Simple Directmedia Layer,21,"[C, C++, Objective-C, Shell, M4, Java, Other]"
1,Azure / azure-quickstart-templates,Azure Quickstart Templates,"1,035","[PowerShell, Shell, JavaScript, Python, HCL, C..."
2,system76 / launch,System76 Launch Configurable Keyboard,3,"[Shell, Rust, Python]"
3,benbjohnson / litestream,Streaming S3 replication for SQLite.,No,"[Go, Other]"
4,mbround18 / valheim-docker,Valheim Docker server with Odin the CLI tool.,8,"[Rust, Shell, Dockerfile, Odin]"

# q6.Scrape the details of top 100 songs on billiboard.com.

In [14]:
#open new instance of teh browser
driver=webdriver.Chrome(r'chromedriver.exe')
url='https://www.billboard.com/'

#navigate to required url
driver.get(url)
driver.maximize_window()
time.sleep(3)

#click on top100 tab
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]/a').click()
name=[]
artist=[]
last_week_rank=[]
peak_rank=[]
no_of_week=[]

#scrape teh required data
song_names=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/span[2]/span[1]')
artists=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/span[2]/span[2]')
last_weeks=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/div/div[1]')
peaks=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/div/div[2]')
no_of_weeks=driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/div/div[3]')
for i in [song_names,artists,last_weeks,peaks,no_of_weeks]:
    for j in i:
        if i==song_names:
            name.append(j.text)
        if i==artists:
            artist.append(j.text)
        if i==last_weeks:
            last_week_rank.append(j.text)
        if i==peaks:
            peak_rank.append(j.text)
        if i==no_of_weeks:
            no_of_week.append(j.text)

#create a dataframe of teh acquired data            
billboard=pd.DataFrame({})
billboard['name']=name
billboard['artist']=artist
billboard['last_week_rank']=last_week_rank
billboard['peak_rank']=peak_rank
billboard['no_of_week']=no_of_week
billboard.head()

,name,artist,last_week_rank,peak_rank,no_of_week
0,Drivers License,Olivia Rodrigo,,1,1
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18

# q8.Scrape the details of Highest selling novels

In [7]:
#create new instance of the browser
driver=webdriver.Chrome(r'chromedriver.exe')

#navigate to required url
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
title=[]
author=[]
sales=[]
publisher=[]
genre=[]

#scrape the details from the table
column1=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[2]')
column2=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[3]')
column3=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[4]')
column4=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[5]')
column5=driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[6]')

#iterate over each tags list to get text 
for i in [column1,column2,column3,column4,column5]:
    for j in i:
        if i==column1:
            title.append(j.text)
        if i==column2:
            author.append(j.text)
        if i==column3:
            sales.append(j.text)
        if i==column4:
            publisher.append(j.text)
        if i==column5:
            genre.append(j.text)

#create dataframe of teh acquired data            
books=pd.DataFrame({})
books['title']=title
books['author']=author
books['sales']=sales
books['publisher']=publisher
books['genre']=genre
books

,title,author,sales,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# q9.Scrape the details most watched tv series of all time from imdb.com.

In [8]:
#create new instance of the browser
driver=webdriver.Chrome(r'chromedriver.exe')

#navigate to required url
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
title=[]
span=[]
genre=[]
run_time=[]
rating=[]
vote=[]

#scrape the details from the table
titles=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/a')
spans=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/span[2]')
genres=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[5]')
run_ts=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[3]')
ratings=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/div/div/span[2]')
votes=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')

#iterate over each tags list to get text 
for i in [titles,spans,genres,run_ts,ratings,votes]:
    for j in i:
        if i==titles:
            title.append(j.text)
        if i==spans:
            span.append(j.text)
        if i==genres:
            genre.append(j.text)
        if i==run_ts:
            run_time.append(j.text)
        if i==ratings:
            rating.append(j.text)
        if i==votes:
            vote.append(j.text)
#create dataframe of teh acquired data 
imdb_shows=pd.DataFrame({})
imdb_shows['title']=title
imdb_shows['span']=span
imdb_shows['genre']=genre
imdb_shows['run_time']=run_time
imdb_shows['rating']=rating
imdb_shows['vote']=vote
imdb_shows.head()

,title,span,genre,run_time,rating,vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,769,555"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"821,886"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"853,201"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,150"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,394"

In [9]:
imdb_shows

,title,span,genre,run_time,rating,vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,769,555"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"821,886"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"853,201"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,150"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,394"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,579"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,858"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,154"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,089"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,280"

# q10.Details of Datasets from UCI machine learning repositories

In [10]:
#create new instance of the browser
driver=webdriver.Chrome(r'chromedriver.exe')

#navigating to required url
url='https://archive.ics.uci.edu/ml/index.php'
driver.get(url)
time.sleep(2)

#going to all datasets page
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]').click()
time.sleep(3)

#scraping the table taht contains required data
names=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td/table/tbody/tr/td[2]')
data_types=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
tasks=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
attr_types=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
instances=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
attributes=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
years=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')

name=[]
data_type=[]
task=[]
attr_type=[]
instance=[]
attribute=[]
year=[]

#iterating over teh tags list to get the required data
for i in names:
    name.append(i.text)
for i in [data_types,tasks,attr_types,instances,attributes,years]:
    for j in i[1:]:
        if i==data_types:
            data_type.append(j.text)
        if i==tasks:
            task.append(j.text)
        if i==attr_types:
            attr_type.append(j.text)
        if i==instances:
            instance.append(j.text)
        if i==attributes:
            attribute.append(j.text)
        if i==years:
            year.append(j.text)

#creating dataframe of teh acquired data
datasets=pd.DataFrame({})
datasets['names']=name
datasets['data_types']=data_type
datasets['tasks']=task
datasets['attr_types']=attr_type
datasets['instances']=instance
datasets['attributes']=attribute
datasets['years']=year
datasets.head()

,names,data_types,tasks,attr_types,instances,attributes,years
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998

In [11]:
datasets

,names,data_types,tasks,attr_types,instances,attributes,years
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020

# q7.Scrape the details of Data science recruiters from naukri.com.

In [12]:
#creating new instance of teh browser
driver=webdriver.Chrome(r'chromedriver.exe')

#navigating to required url
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

#entering keyword in search box
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys('Data Science')

#clicking search button
driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]').click()
time.sleep(3)
name=[]
position=[]
company=[]
location=[]
skill=[]
names=driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a[1]')
urls=[]
for i in names:
    name.append(i.text)
    urls.append(i.get_attribute('href'))
#navigating to each page and scraping the required data
for url in urls:
    driver.get(url)
    position.append(driver.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[3]').text)
    company.append(driver.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[4]').text)
    try:
        location.append(driver.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[3]').text)
    except:
        location.append('-')
    skill.append(driver.find_element_by_xpath('//div[@class="fadeOutParent readMoreHt100 "]/div[2]/div/p').text)
    
#creating the dataframe of teh scraped data            
recruiters=pd.DataFrame({})
recruiters['name']=name
recruiters['position']=position
recruiters['company']=company
recruiters['location']=location
recruiters['skill']=skill
recruiters.head()

,name,position,company,location,skill
0,Aakash Harit,HR Manager,Data Science Network,HR Manager,"Classic ASP Developer , Internet Marketing Pro..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Company Recruiter,".Net , Java , Data Science , Linux Administrat..."
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,Recruitment Professional,"Web Designing , html5 , Angular.js , seo , had..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Company Recruiter,", Mean Stack , javascript , angularjs , mongod..."
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Company HR,"Mid Level, Junior Level"

In [13]:
recruiters

,name,position,company,location,skill
0,Aakash Harit,HR Manager,Data Science Network,HR Manager,"Classic ASP Developer , Internet Marketing Pro..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Company Recruiter,".Net , Java , Data Science , Linux Administrat..."
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,Recruitment Professional,"Web Designing , html5 , Angular.js , seo , had..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Company Recruiter,", Mean Stack , javascript , angularjs , mongod..."
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Company HR,"Mid Level, Junior Level"
5,subhas patel,Founder & CEO,LibraryXProject,Founder & CEO,"Hadoop , Spark , Digital Strategy , Data Archi..."
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,Manager- Talent Acquisition,"Mid Level, High Level"
7,Abhishek - Only Analytics Hiring - India and,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,Recruitment - Lead Consultant,"Analytics , Business Intelligence , Business A..."
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Programme Manager,Analytics & Business Intelligence
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,HR Administrator,"Machine Learning , algorithms , Go Getter , Co..."
10,Asif Lucknowi,Director,Weupskill- Live Wire India,Director,Weupskill- Live Wire India
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,Human Resource,"Junior Level, Mid Level"
12,Kalpana Dumpala,Executive Hiring,Innominds Software,Executive Hiring,"Qa , Ui , ux , Java Developer , Java Architect..."
13,Mubarak,Company HR,MoneyTap,Company HR,MoneyTap
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Company HR,QuantMagnum Technologies Pvt. Ltd.
15,Manisha Yadav,HR Executive,Easi Tax,HR Executive,Mid Level
16,Kapil Devang,HR Manager,BISP Solutions,HR Manager,"Big Data , Hadoop , Data Analytics , Data Science"
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Manager Talent Acquisition,IT-Software/Software Services
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,HR Team Lead,"Junior Level, Mid Level"
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,HR Head,"Mid Level, Top Mangement Level"
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,HR MANAGER,"Data Analytics , Data Science , Machine Learni..."
21,Rithika dadwal,HR Recruiter,Affine Analytics,HR Recruiter,"Junior Level, Mid Level"
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Company Recruiter,"Mid Level, High Level"
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,HR Recruiter,"High Level, Mid Level"
24,Shaun Rao,Manager - Human Resources,Exela Technologies,Manager - Human Resources,"Java , Net , Angularjs , Hr , Infrastructure ,..."
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,Lead Talent acquisition,"High Level, Top Mangement Level"
26,kumar,Proprietor,trainin,Proprietor,"Data Science , Hadoop , Rpas , Devops , Python..."
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,CEO,"Signal Processing , Machine Learning , Neural ..."
28,Rajat Kumar,Founder & CEO,R.S Consultancy & Services,Founder & CEO,"Web Technologies , Project Management , Softwa..."
29,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Project Manager,"Data Analytics , Managed Services , Team Leading"
30,Prateek Kumar,Head,Trisect,Head,Junior Level
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED
32,Amit Sharma,Consultant,ASCO consulting,Consultant,ASCO consulting
33,Kanan,senior technology instructor,NY INST,senior technology instructor,"Mid Level, Junior Level"
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. India,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. India
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Manager, Technical Recruiting","Junior Level, High Level"
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,Technical Recruiter,"Python , Php , Qa Automation , Ui , Wordpre"
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Erp Implementer,MADHUSUDHAN SRIDHAR
38,Ankit Sinha,Head-Analytics,Suntech Global,Head-Analytics,Suntech Global (Since Feb-2018)
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Chief Technical Officer,"Top Mangement Level, Junior Level"
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Sr Product Manager,"Data Science , Node.js , Angularjs"
41,Ashwini,"Director, Global Delivery",MRP Advisers,"Director, Global Delivery",MRP Advisers (Since Oct-2017)
42,Balaji Kolli,Co-Founder,Saras Solutions India Pvt Ltd,Co-Founder,Saras Solutions India Pvt Ltd
43,Rajani Nagaraj,HR Manager,WildJasmine,HR Manager,"java , hadoop , r , Machine Learning , spark ,..."
44,ROHIT Kumar,Architect,LNT Private Limited,Architect,"Mid Level, High Level"
45,Amir Chowdhury,Managing Partner,Granular.ai,Managing Partner,Granular.ai
46,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,HR Manager,Certybox Pvt.Ltd.
47,Sunny Sharma,Managing Director - HR,Western Service Providers,Managing Director - HR,"Software Professionals , Engineering , Technic..."
48,Sagar Lama,Company HR Manager,AdView,Company HR Manager,"Full Stack Developers , Product Manager , Data..."
49,Dr. S. Prasanna Devi,Professor and Head,SRM Institute of Science and Technology,Professor and Head,SRM Institute of Science and Technology